alabaster==0.7.13
astroid==3.0.1
Babel==2.13.1
black==23.10.1
blinker==1.7.0
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
coverage==7.3.2
dill==0.3.7
docutils==0.20.1
exceptiongroup==1.1.3
flake8==6.1.0
Flask==3.0.0
idna==3.4
imagesize==1.4.1
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
mypy==1.6.1
mypy-extensions==1.0.0
myst-parser==2.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pluggy==1.3.0
py-cpuinfo==9.0.0
pycodestyle==2.11.1
pyflakes==3.1.0
Pygments==2.16.1
pylint==3.0.2
pytest==7.4.3
pytest-benchmark==4.0.0
pytest-cov==4.1.0
PyYAML==6.0.1
requests==2.31.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinx-sizzle-theme==0.1.3
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
tomli==2.0.1
tomlkit==0.12.1
typing_extensions==4.8.0
urllib3==2.0.7
Werkzeug==3.0.1
