# base libraries without versions, useful for updating

# linting
black
flake8
isort
mypy
pylint

# testing
coverage
pytest
pytest-benchmark
pytest-cov

# documentation
Sphinx
sphinx-sizzle-theme
myst-parser

# Application
Flask
